@import "tailwindcss";

:root {
  --background: #050505;
  --surface: #101010;
  --surface-2: #181818;

  --border: rgba(255,255,255,.08);

  --text: #ffffff;
  --muted: #94A3B8;

  --accent: #22D3EE;
  --accent-hover: #67E8F9;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Background Grid */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background-image:
    linear-gradient(rgba(255,255,255,.015) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.015) 1px, transparent 1px);

  background-size: 70px 70px;

  mask-image: radial-gradient(circle at center, black, transparent 90%);
}

/* Ambient Glow */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background:
    radial-gradient(circle at top, rgba(34,211,238,.12), transparent 45%),
    radial-gradient(circle at bottom right, rgba(34,211,238,.05), transparent 40%);
}

/* Selection */
::selection {
  background: var(--accent);
  color: black;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  cursor: pointer;
}

/* Glass */
.glass {
  background: rgba(255,255,255,.04);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,.08);
}

/* Premium Card */
.card {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 24px;
  transition: all .35s ease;
}

.card:hover {
  transform: translateY(-8px);
  border-color: rgba(34,211,238,.35);
  box-shadow: 0 0 60px rgba(34,211,238,.12);
}